<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite parallel="false" name="POMTest">

	<listeners>
		<listener class-name="com.pom.qa.ExtentReportListener.ExtenetReporterNG" />
	</listeners>
  <test name="POMTest Test Cases">
    <classes>
      <class name="com.pom.qa.testcases.LoginPageTest"/>
      <!-- <class name="com.pom.qa.testcases.HomePageTest"/>  
      <class name="com.pom.qa.testcases.ProfilePageTest"/>
      <class name="com.pom.qa.testcases.OrderhistoryPageTest"/>
      <class name="com.pom.qa.testcases.CreditcardsPageTest"/>
      <class name="com.pom.qa.testcases.UpdatepasswrdPageTest"/>
      <class name="com.pom.qa.testcases.WishlistPagetest"/>
      <class name="com.pom.qa.testcases.AddressesPageTest"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->